<div class="container-fluid">
  <!-- This is the component that gets renedered in the front end-->

  <div><h1>Warehouse Manager App</h1></div>

  <a [routerLink]="['/add']">Add Warehouse</a> |    <a [routerLink]="['/list']">View Warehouse</a>
  <router-outlet></router-outlet>
  <div>   
    <a class="a" [routerLink]="['/delete']">Delete Warehouses</a> | <a class="b" [routerLink]="['/update']">Update Warehouses</a>
    <router-outlet></router-outlet>
  </div>
 <p></p><p></p>

  <div>
    
    <router-outlet></router-outlet>

 
</div>

</div>
